  <div class="navbar">
        <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <div ui-include="'../views/blocks/navbar.brand.html'"></div>

        <!-- nabar right -->
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link" ui-fullscreen>
              <span><i class="fa fa-fw fa-arrows-v"></i></span> 
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link" data-toggle="dropdown">
              <i class="material-icons">&#xe5c3;</i>
              <span class="label up p-a-0 accent"></span>
            </a>
            <div ui-include="'../views/blocks/dropdown.grid.html'"></div>
          </li>
        </ul>
        <!-- / navbar right -->

        <!-- navbar collapse -->
        <div class="collapse navbar-toggleable-sm" id="navbar-4" data-pjax>
          <div ui-include="'../views/blocks/navbar.form.right.html'"></div>
          <!-- link and dropdown -->
          <ul class="nav navbar-nav pull-left nav-active-border b-{{app.setting.theme.primary}}">
             
            <li class="nav-item" id='nav-tab0'>
              <a  onclick="$('.p0').css('visibility', 'visible'); $('.p0').css('top', $('.navbar').outerHeight()); $('.padding').addClass('ng-hide'); $('.p0').removeClass('ng-hide'); $('.nav-link').removeClass('active'); $('.n0').addClass('active') "  class="nav-link n0" ui-sref="app.dashboard" ui-sref-active="active">
                <span class="nav-text">Introduction</span>
              </a>
            </li>
            <li class="nav-item" id='nav-tab1'>
              <a onclick="$('.p1').css('visibility', 'visible'); $('.padding').addClass('ng-hide'); $('.p1').removeClass('ng-hide'); $('.nav-link').removeClass('active'); $('.n1').addClass('active') "  class="nav-link n1" ui-sref-active="active">
                <span class="nav-text">Structure</span>
              </a>
            </li>
            <li class="nav-item" id='nav-tab2'>
              <a onclick="$('.p2').css('visibility', 'visible'); $('.p2').css('top', $('.navbar').outerHeight()); $('.padding').addClass('ng-hide'); $('.p2').removeClass('ng-hide'); $('.nav-link').removeClass('active'); $('.n2').addClass('active') "  class="nav-link n2"  ui-sref-active="active">
                <span class="nav-text">Field</span>
              </a>
            </li>
            <li class="nav-item" id='nav-tab3'>
              <a onclick="$('.p4').css('visibility', 'visible'); $('.p4').css('top', $('.navbar').outerHeight()); $('.padding').addClass('ng-hide'); $('.p4').removeClass('ng-hide'); $('.nav-link').removeClass('active'); $('.n4').addClass('active') "  class="nav-link n4" ui-sref-active="active">
                <span class="nav-text">Transmission</span>
              </a>
            </li>
            <li class="nav-item" id='nav-tab4'>
              <a onclick="$('.p3').css('visibility', 'visible'); $('.p3').css('top', $('.navbar').outerHeight()); $('.padding').addClass('ng-hide'); $('.p3').removeClass('ng-hide'); $('.nav-link').removeClass('active'); $('.n3').addClass('active') "  class="nav-link n3" ui-sref-active="active">
                <span class="nav-text">Dispersion</span>
              </a>
            </li>
           
          </ul>
          <!-- / link and dropdown -->
        </div>
        <!-- / navbar collapse -->
  </div>
